.tranfer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    margin-top: 34px;
}
.historico{
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.137);
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 37%;
}
.tranfer .titulos{
    display: flex;
    height: 90px;
}
.tranfer .titulos, .tranfer .dados .row{
    width: 100%;
}
.tranfer .titulos h3{
    font-family: Roboto forte;
    padding: 7px;
    font-weight: 900;
}

.tranfer .titulos .valor, .tranfer .dados .valor{
    width: 50%;
}
.tranfer .titulos .tipo, .tranfer .dados .tipo{
    width: 50%;
}

.tranfer .dados{
    width: 100%;
    height: 80%;
}
.tranfer .dados .row{
    display: flex;
    border-bottom: 2px solid #eee;
    height: 30px;
}
@media screen and (max-width:700px) {
    .tranfer .titulos .nome, .tranfer .dados .nome {
        width: 22%;
    }
}