.tranfer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 100%;
    margin-top: 45px;
    padding: 20px;
}
.historico, .tranfer .planilha{
    height: 450px;
}
.historico{
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.137);
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37%;
}
.tranfer .titulos{
    display: flex;
    height: 40px;
}
.tranfer .titulos, .tranfer .dados .row{
    overflow-y: auto;
    width: 80%;
}
.tranfer .titulos h3{
    text-align: center;
    font-family: Roboto forte;
    padding: 7px;
    font-weight: 900;
}

.tranfer .titulos .valor, .tranfer .titulos .tipo, .tranfer .titulos .data{
    width: 33%;
}
.tranfer .dados .valor, .tranfer .dados .tipo, .tranfer .dados .data{
    width: 33%;
}

.tranfer .dados{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}
.tranfer .dados .row{
    overflow: hidden;
    margin-bottom: 6px;
    width: 80%;
    display: flex;
    border-bottom: 2px solid #eee;
}
.tranfer .dados .row #Recebido, .tranfer .dados .row #Pago{
    height: 30px;
    border-radius: 10px;
    color: white;
    text-align: center;
    scale: 0.9;
}
.tranfer .dados .row #Recebido:hover, .tranfer .dados .row #Pago:hover{
    scale: 1;
}
.tranfer .dados .row #Recebido{
    background: rgb(3, 146, 3);
}
.tranfer .dados .row #Pago{
    background: rgb(202, 2, 2);
}
.tranfer .planilha{
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.137);
    background: white;
    border-radius: 20px;
    width: 60%;
}
.tranfer .etiqueta{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(118, 12, 160);
}
.tranfer .etiqueta h3{
    font-size: 20px;
    border-bottom: 2px solid rgb(118, 12, 160);
}
@media screen and (max-width:700px) {
    .tranfer .titulos .nome, .tranfer .dados .nome {
        width: 22%;
    }
    .tranfer{
        margin-top: 80px;
        height: 1000px;
        flex-direction: column;
    }
    .historico{
        height: 1050px;
        width: 100%;
        margin-bottom: 45px;
    }
    .tranfer .planilha{
        height:450px;
        width: 100%;
    }
    .tranfer .dados .row{
        width: 90%;
        height: 40px;
    }
}