.home {
  display: flex;
  position: absolute;
  width:100%;
  height: 100%;
}
.conteudo{
  background: #eee;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  width: 80%;
}
@font-face {
  font-family: Roboto media;
  src: url("../../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto forte;
  src: url("../../font/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto normal;
  src: url("../../font/Roboto-Thin.ttf");
}
*{
  transition: all ease 0.2s;
  font-family: Roboto normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (max-width:700px){
  .conteudo{
    width: 100%;
  }
}