.header{
    padding: 2px 31px;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .img{
    display: none;
    background-image: url('../../icons/list.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header button{
    transition: all ease 0.2s;
    width: 118px;
    outline: none;
    border: none;
    background: rgb(207, 25, 25);
    color: white;
    font-size: 17px;
    border-radius: 12px;
}
.header button:hover{
    cursor: pointer;
    border: 1px solid rgb(207, 25, 25);
    color: rgb(207, 25, 25);
    background: white;
}
.header .img:active{
    animation: rodar linear 0.3s;
}
.header .img, .icon{
    margin: 16px;
    width: 30px;
    height: 30px;
}
.header .icon_name{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}
.header .icon_letra{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
}
.header .mini-menu.show{
    display: flex;
}
.header .mini-menu{
    z-index: 9;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    background: rgb(131, 24, 145);
    position: absolute;
    margin-top: 74px;
    margin-left: -14px;
    width: 160px;
    height: 196px;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header .mini-menu::before{
    box-shadow: -10px -10px 12px rgba(0, 0, 0, 0.527);
    background: rgb(131, 24, 145);
    margin-top: -100px;
    margin-bottom: 9px;
    margin-left: -69px;
    content: '';
    width: 36px;
    height: 36px;
    transform: rotateZ(45deg);
}
.header .mini-menu h3{
    padding: 9px;
    width: 100%;
}
.header .mini-menu h3:hover{
    background: white;
    color: rgb(131, 24, 145);
    cursor: pointer;
}
@keyframes rodar {
    0%{
        transition: all ease 0.2s;
        transform: rotateZ(0deg);
    }
    50%{
        transition: all ease 0.2s;
        transform: rotateZ(100deg);
    }
    0%{
        transition: all ease 0.2s;
        transform: rotateZ(0deg);
    }
}
@media screen and (max-width:700px) {
    .header{
        z-index: 99;
        height: 60px;
        position: fixed;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.479);
        background: black;
        color: white;
    }
    .header .icon_name{
        width: 43%;
    }
    .balance{
        min-height: 300px;
    }
    .header .img{
        background-image: url('../../icons/list-2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .header .img{
        display: flex;
    }
    .header button{
        display: none;
    }
}