.header{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header img, .icon{
    margin: 16px;
    width: 30px;
    height: 30px;
}
.header .icon_name{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}
.header .icon_letra{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
}