.aviso-pag{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 199;
    background: rgba(0, 0, 0, 0.199);
    display: none;
    justify-content: center;
    align-items: center;
}
.aviso-pag.show{
    display: flex;
}
.aviso-pag .aviso{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 40%;
    background: white;
    border-radius: 20px;
}
.aviso-pag .aviso p{
    transition: all ease 0.2s;
    animation: aparecer linear 0.2s;
    font-family: Roboto media;
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    width: 400px;
}
.aviso-pag .aviso button{
    transition: all ease 0.2s;
    animation: aparecer--button linear 0.2s;
    font-family: Roboto media;
    width: 100px;
    height: 40px;
    font-size: 30px;
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    background: black;
}
.aviso-pag .aviso button:hover{
    cursor: pointer;
    background: white;
    border: 1px solid black;
    color: black;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes aparecer--button {
    0%{
        scale: 0.1;
    }
    100%{
        scale: 1;
    }
}
@media screen and (max-width:700px){
    .aviso-pag .aviso{
        width: 100%;
    }
}